body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
    width: 90%;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif !important;
    font-weight: 600;
    font-size: 52px;
    margin: 30px;
}

h2 {
    font-family: 'Cormorant Garamond', serif !important;
    display: block;
    font-size: 44px;
    font-weight: 600;
    margin: 40px 10px;
}

h3 {
    font-family: 'Cormorant Garamond', serif !important;
    display: block;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 10px;
}

h4 {
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 24px !important;
}

#libraryDisplay {
    margin: 50px;
}

#readDisplay, #currentDisplay, #unreadDisplay{
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color:white;
    width: 200px;
    height: 250px;
    border: 1.5px solid #565c5e;
    font-size: 16px;
    box-shadow: 3px 3px 10px;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.fas, .fa-book{
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.7;
    position: absolute;
    right: 15px;
    bottom: 15px;  
}

.fa-book:hover{
    font-size: 26px;
    opacity: 1;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#newBookForm {
    background-color:white;
    text-align: left;
    margin: 8% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 470px;
    border: 1px solid black;
}

.close1 {
    color:black;
    float: right;
    font-size: 34px;
    transition: 0.6px;
}

.close2 {
    visibility: hidden;
}
  
.close1:hover {
    font-size: 40px;
}

input {
    width: 100%;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 14px;
}

select {
    width: 104%;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#submitButton {
    font-size: 16px;
    width: 35%;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    transition: 0.4s;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
}

#submitButton:hover {
    font-size: 18px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#submitButton:active {
    outline:none;
    box-shadow: 5px 5px 5px;
}

#deleteBookButton, #newBookButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 35px;
    width: 130px;
    background-color: black;
    color: white;
    margin: 0px 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #565c5e;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.4s;
}

#deleteBookButton:hover, #newBookButton:hover{
    font-size: 18px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#deleteBookButton:active, #newBookButton:active {
    outline: none;
    box-shadow: 5px 5px 5px;
}

.toggleDiv {
    background-color: white;
}

/* Animations */
.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
    
.slide-in-right {
	animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  